* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #contect{
    background: url(contact-boostrape.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }